body {
    
}

.map{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#coffeeStyle {

}

#trailsStyle {
    border: beige solid 20px;
}
